/* .main {
    background-color: lightcyan;

    .main-heading {
        font-size: 2rem;
    }

    .main-paragraph {
        font-size: 1.4rem;
    }
} */

/* .main, footer {
    h1, p {
        letter-spacing: 1px;
    }
} */

// & => elemnt parent = mengacu ke .main
// Parent Selector

/* .main {
    .container & {
        background-color:aquamarine;
    }
    .main-heading {
        font-size: 2rem;
    }

    &:hover {
        background-color: brown;
    }
} */


// & => mengganti & dengan nama / selector parentnya
.main {
    & &-heading {
        font-size: 2rem;
    }

    & &-footer {
        font-size: 1.5rem;
    }
}

.footer {
    & &-heading {
        font-size: 2rem;
    }

    & &-paragraph {
        font-size: 1.4rem;
    }
}