html,
body {
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
}

.container {
    width: 60%;
    margin: 50px auto;
    display: grid;
    border: 3px solid black;
    /* 3 Baris 3 kolom */
    grid-template-columns: 25% max-content 1fr;
    grid-template-rows: 50px 100px auto;

}

.item {
    background-color: #ddd;
    border: 2px solid green;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* genap */

.item:nth-child(even) {
    background-color: #ccc;
}

/* container-dua */
.container-dua {
    width: 60%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr min-content 2fr 1fr;
    grid-template-rows: repeat(3, 50px);
    grid-auto-flow: column;
    grid-auto-rows: 50px;
    grid-auto-columns: 50px;

}

.item-dua {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-dua:nth-child(even) {
    background-color: blueviolet;
}