@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: "Neucha", cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: white;
  z-index: 1;
  text-align: center;
}

.navigation {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.navigation .navigation__link {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.navigation .navigation__link:hover {
  color: #32C3CD;
  transition: .3s ease
}

.navigation .navigation__link.active {
  background: #EB6750;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}