@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@900&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*,*::before,*::after { margin: 0; padding: 0;   box-sizing: border-box;}

:root {
    --blueSaltedEgg: #52b69a;
    --dark: #2A2B2F;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--blueSaltedEgg);
}

h1,
h2,
h3 {
    font-family: 'Roboto Slab',
        serif;
}

p {
     line-height: 1.75;
}


/* Navivation */

nav {
    background: var(--dark);
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 250px;
    height: 100%;
    color: #fff;
    padding: .5rem;
    border-right: 8px solid #52b69a;
}

header {
    margin: 1rem;
    text-align: center;
}

header span {
    font-size: 2rem;
    background: var(--blueSaltedEgg);
    padding: 0 .2rem 0 .5rem;
    margin-right: .2rem;
}

ul {
    text-align: left;
    margin: 0 1rem;
}

ul a {
    padding: .8rem 1rem;
    display: block;
    text-decoration: none;
    color: #8D99A7;
    font-weight: 600;
}
ul a:hover {
    background: #454f59;
    text-decoration: var(--blueSaltedEgg) underline wavy 3px;
}

li {
    list-style: none;

}

/* Main */

.wrapper {
    background: #EDEDED;
    padding: .5rem 1rem 1rem 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

main {
    background: #fff;
    padding: 1rem 3rem 3rem 3rem;
    margin-left: 250px;

    min-height: 100vh;
    position: absolute;
}


p::selection {
    background-color: var(--blueSaltedEgg);
}


h1.content-header {
    font-size: 2.8rem;
    position: relative;
     z-index: 1;
     font-weight: 800;
     margin: 1rem 0;
}

h1.content-header::before {
    content: "🤘 ";
    font-size: 2rem;
    display: inline-block;
}

h1.content-header span {
    position: relative;
}

h1.content-header span::before {
    content: "";
    background: var(--blueSaltedEgg);
    height: 12px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
}

main span.slim-header {
    font-weight: 100;
}

main h2 {
    font-size: 1.8rem;
    margin: .7rem 0;
    position: relative;
    z-index: 1;
}

main h2::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 23px;
    background-color: var(--blueSaltedEgg);
    opacity: .5;
    left: -.3rem;
    z-index: -1;
}

main h3 {
    font-size: 1.3rem;
    margin: .7rem 0;
}


main li {
    margin-bottom: .3rem;
    line-height: 1.75rem;
}

main li::before {
    content: "🦝 ";
    margin-right: .5rem;
}

main .file-section {
    background: #EDEDED;
    width: fit-content;
    padding: .5rem;
    margin: .5rem 0;
    border: 3px solid var(--blueSaltedEgg);
}

main a, .file-section a{
    color: var(--blueSaltedEgg);
    font-weight: 700;
    text-decoration: none;
}

main a:hover, .file-section a:hover{
    color: #FFC83D;
    text-decoration: var(--blueSaltedEgg) underline wavy 2px;
}

main img {
    min-width: 300px;
    margin: 1rem 0;
}
/* CodeBox */
/* Code Box */

#codebox {
    padding: 15px;
    font-family: Courier, sans-serif;
    font-size: 1em;
    line-height: 1.3;
    min-width: 400px;
    color: #eee;
    background-color: var(--dark);
    /* -webkit-border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px; */
    margin-bottom: 10px;
    border: 4px solid var(--blueSaltedEgg);
    border-top: 0;

}

code {
    font-family: Courier, sans-serif;
    font-size: 1em;
    line-height: 1.3;
}

code .punctuation {
    color: #EFD178;
}

code .function {
    color: #df9efd;
}

code .return {
    color: #fca311;
}

code .properties {
    color:aquamarine;
}

code .string {
    color: #aacc00;
}

code .number {
    color: #ff4d6d;
}

code .muted {
    color: #468faf;
}

.codeheader {
    padding: 5px 5px 5px 10px;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
    text-align: left;
    font-weight: 800;
    color: #fff;
    /* -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px; */
    user-select: none;
    -ms-user-select: none;
    /* IE10+, Edge */
    -moz-user-select: none;
    /* Mozilla */
    -webkit-user-select: none;
    /* Safari */
}

#codeheader_js {
    background-color: var(--blueSaltedEgg);
}


