body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(189, 189, 189);
}

.container {
    width: 600px;
    margin: auto;
    background-color: #eee;
    text-align: center;
    padding-bottom: 5px;
}

.header {
    font-size: 2em;
}

.content h2 {
    font-size: 1.8em;
}

.content p {
    font-size: .8em;
}